# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directories
lib-cov
coverage
*.lcov

# Compiled
dist

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.local
.env.production
.env.test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# misc
.DS_Store
